{% extends "BackendBundle:Layouts:2column.html.twig" %}

{% block title_section %}
    {{ "Listado de eventos" | trans }}
{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="row">
        <a href="{{ path('admin_events_create') }}" class="btn btn-success">
            <i class="fa fa-plus"></i> {{ "Crear evento" | trans }}
        </a>
    </div>
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-search"></i>
            </span>
            <h5>{{ "Buscador"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <form class="form-inline" role="form" action="{{ path('admin_events_index') }}" method="get">
                <div class="checkbox">
                    <label>
                        
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
        </div>
    </div>

    {% if events | length > 0 %}
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon">
                <i class="fa fa-align-justify"></i>
            </span>
            <h5>{{ "Listado de Eventos"|trans }}</h5>
        </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ "Título"|trans }}</th>
                        <th>{{ "Descripción"|trans }}</th>
                        <th>{{ "Acciones"|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a title="Modificar" href="{{ path('admin_events_edit', {'id' : event.id}) }}">{{ event.title }}</a></td>
                            <td>{{ event.description }}</td>
                            <td class="taskOptions">
                                <a title="Borrar" class="delete" href="{{ path('admin_events_delete', {'id' : event.id}) }}"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info mt">
            <strong>{{"Información!" | trans }}</strong>
            {{"No se ha encontrado ningún registro" | trans }}
        </div>
    {% endif %}
{% endblock %}