<header>
	<nav>
		<div class="navbar navbar-inverse navbar-fixed-top" id="nav-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-12 col-xs-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand scrollto" href="#" data-target="#banner-1">
								<img src="{{asset('bundles/frontend/img/logo_s.png')}}">
							</a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a href="#" data-target="#banner-1" class="scrollto">{{ "¿Qué es RES?" | trans}}</a></li>
								<li><a href="#" data-target="#banner-2" class="scrollto">{{ "Espacio RES" | trans}}</a></li>
								<li><a href="#" data-target="#banner-3" class="scrollto">{{ "Áreas" | trans}}</a></li>
								<li><a href="#" data-target="#banner-4" class="scrollto">{{ "Áctividades" | trans}}</a></li>
								<li><a href="#" data-target="#banner-5" class="scrollto">{{ "Ser RES" | trans}}</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 visible-lg">
						<div id="rrss-top" class="rrss">
							<a href="#" class="circle">
								<i class="icon icon-facebook"></i>
							</a>
							<a href="#" class="circle">
								<i class="icon icon-twitter"></i>
							</a>
							<a href="#" class="circle">
								<i class="icon icon-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>		
	    </div>
	</nav>
</header>