{% extends "FrontendBundle:Layouts:1column-fluid.html.twig" %}

{% block title %}{{ "Proyecto Res "|trans }}{% endblock %}
{% block description %}{{"Un proyecto muy bonito"|trans}}{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('bundles/frontend/css/fullcalendar.css')}}">
{% endblock %}

{% block header %}
  {{ parent() }}
  <div id="banner-top">
    <div class="overlay"></div>
    <div class="image">
      {#<img src="{{asset('bundles/frontend/img/resilencia-banner-top.jpg')}}">#}
      <img src="{{asset('bundles/frontend/img/banner-top-home.jpg')}}">
    </div>
    <div class="container clearfix">
      <div class="row">
        <div class="text">
          <img src="{{asset('bundles/frontend/img/logo.png')}}">
          <h1 class="h1">Rent a space, launch an idea</h1>
          <h2 class="h2">Hundreds of exclusive spaces nationwide, ready to be filled with your idea.</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section id="our-work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">{{'What we do' | trans}}</h2>
          <p class="quote">
            {{'WeWork empowers entrepreneurs and small businesses to succeed by providing beautiful workspace, a collaborative community, accessible services and benefits.' | trans}}
          </p>
        </div>
      </div><!-- .row -->

      <div class="row mt20">
        <div class="col-md-4 text-center">
         <h2 class="fa fa-tags icon-title"></h2>
         <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum rutrum est, eu tincidunt sem viverra et. Cras tristique faucibus turpis a interdum. Mauris sit amet eros nulla.
         </p>
        </div>

        <div class="col-md-4 text-center">
          <h2 class="fa fa-rocket icon-title"></h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum rutrum est, eu tincidunt sem viverra et. Cras tristique faucibus turpis a interdum. Mauris sit amet eros nulla.
         </p>
        </div>

        <div class="col-md-4 text-center">
          <h2 class="fa fa-file-text-o icon-title"></h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum rutrum est, eu tincidunt sem viverra et. Cras tristique faucibus turpis a interdum. Mauris sit amet eros nulla.
         </p>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- #our-work -->

  <section id="events" class="light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">{{'Next events' | trans}}</h2>
        </div>

        <div id="events-calendar" class="col-md-12">
        </div><!-- #events-calendar -->
      </div><!-- .row -->
    </div><!-- .container -->
    <div class="bg-parallax"></div>
  </section><!-- #events -->

  <div id="event-overlay" class=""></div>
    <div id="event-info" class="">
        <div class="container">
          <div class="col-md-12 no-float event-description">
            <img id="event-img" class="img-responsive" src="">

            <h3 id="event-title">Evento 1</h3>

            <p id="event-description">Lorem ìpsum dolor aemete</p>
          </div>
        </div>
    </div>

  {% include 'FrontendBundle:Sections:contact-us.html.twig' %}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/frontend/js/fullcalendar.min.js') }}"></script>
  {% include 'FrontendBundle:Commons:contactUsScripts.html.twig' %}
  {% include 'EventBundle:Commons:getEventsScript.html.twig' %}
{% endblock %}