{% extends "FrontendBundle:Layouts:1column-fluid.html.twig" %}

{% block title %}{{ "Proyecto Res "|trans }}{% endblock %}
{% block description %}{{"Un proyecto muy bonito"|trans}}{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('bundles/frontend/css/fullcalendar.css')}}">
{% endblock %}

{% block header %}
  {{ parent() }}
  <div id="banner-top">
    <div class="overlay"></div>
    <div class="image">
      {#<img src="{{asset('bundles/frontend/img/resilencia-banner-top.jpg')}}">#}
      <img src="{{asset('bundles/frontend/img/banner-top-home.jpg')}}">
    </div>
    <div class="container clearfix">
      <div class="row">
        <div class="text">
          <img src="{{asset('bundles/frontend/img/logo.png')}}">
          <h1 class="h1">Rent a space, launch an idea</h1>
          <h2 class="h2">Hundreds of exclusive spaces nationwide, ready to be filled with your idea.</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section id="our-work">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title">{{'Qué es RES' | trans}}</h2>
          <p class="quote">
            {{'RES es un espacio de creación de inicitivas empresariales socialmente responsables e innovadoras. El fomento del emprendimiento colaborativo y la emplebilidad en sectores económicos clave de Andalucía es la razón de ser del ecosistema RES.' | trans}}
          </p>
        </div>
      </div><!-- .row -->

      <div class="row mt20">
        <div class="col-md-4 text-center">
         <h2 class="fa fa-globe icon-title"></h2>
         <p>
          {{ 'RES es un espacio enfocado a satisfacer todas las necesidades de la especie emprendedora. Te ayudaremos a potenciar tu incipiente negocio e impulsar tu carrera. Tendrás a tu disposción Internet por fibra óptica, salas de reuniones, de conferencias, y los servicios de IT necesarios. todo ello en un inmejorable ambiente de trabajo y cooperación.' | trans}}
         </p>
        </div>

        <div class="col-md-4 text-center">
          <h2 class="fa fa-rocket icon-title"></h2>
          <p>
          {{'RES es mucho más que un espacio de coworking. Es un universo de emprendimiento, donde además de networking, los mentores e inversores que recorren sus diversos ambientes, están deseando nutrirse de tu creatividad en una simbiosis perfecta entre inquietud y experiencia que ayudará a impulsar tus proyectos.' | trans}}
         </p>
        </div>

        <div class="col-md-4 text-center">
          <h2 class="fa fa-lightbulb-o icon-title"></h2>
          <p>
          {{'A su vez, los habitantes de RES se alimentan de los proyectos, concursos de ideas, e iniciativas que proponen los partners del espacio para que éste sea una fuente más de captación de progreso. Las diferentes compañías e influencers que colaboran con RES promueven jornadas de formación, meetups y encuentros que refuerzan la empleabilidad de sus habitantes.' | trans}}
         </p>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
  </section><!-- #our-work -->

  <section id="events" class="light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">{{'Next events' | trans}}</h2>
        </div>
      </div><!-- .row -->

      <div class="row">
        <div id="events-calendar" class="col-md-6">
        </div><!-- #events-calendar -->

        <div id="event-info" class="col-md-6 collapse">
            <div class="container">
              <div class="col-md-12 no-float event-description">
                <img id="event-img" class="img-responsive" src="">

                <h3 id="event-title"></h3>

                <p id="event-description">
                </p>
              </div>
            </div>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
    <div class="bg-parallax"></div>
  </section><!-- #events -->

  {% include 'FrontendBundle:Sections:contact-us.html.twig' %}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/frontend/js/fullcalendar.min.js') }}"></script>
  {% include 'FrontendBundle:Commons:contactUsScripts.html.twig' %}
  {% include 'EventBundle:Commons:getEventsScript.html.twig' %}
{% endblock %}