{% extends "FrontendBundle:Layouts:1column-fluid.html.twig" %}

{% block title %}{{ "Proyecto Res "|trans }}{% endblock %}
{% block description %}{{"Un proyecto muy bonito"|trans}}{% endblock %}
{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{asset('bundles/frontend/css/fullcalendar.css')}}">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDM-_Hy5M3cV9ztoQOKO_ztIo5YL07ygX4&sensor=false"></script>
{% endblock %}

{% block header %}
  {{ parent() }}
  <div id="banner-top">
    <div class="overlay"></div>
    <div class="image">
      {#<img src="{{asset('bundles/frontend/img/resilencia-banner-top.jpg')}}">#}
      <img src="{{asset('bundles/frontend/img/banner-top-home.jpg')}}">
    </div>
    <div class="container clearfix">
      <div class="row">
        <div class="text">
          <img src="{{asset('bundles/frontend/img/logo.png')}}">
          <h1 class="h1">Rent a space, launch an idea</h1>
          <h2 class="h2">Hundreds of exclusive spaces nationwide, ready to be filled with your idea.</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include 'FrontendBundle:Sections:our-work.html.twig' %}

  {% include 'FrontendBundle:Sections:location.html.twig' %}

  {% include 'FrontendBundle:Sections:services.html.twig' %}

  {% include 'FrontendBundle:Sections:who-we-are.html.twig' %}

  {% include 'FrontendBundle:Sections:newsletter.html.twig' %}

  {% include 'FrontendBundle:Sections:events.html.twig' %}

  {% include 'FrontendBundle:Sections:contact-us.html.twig' %}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/frontend/js/fullcalendar.min.js') }}"></script>
  {% include 'FrontendBundle:Commons:contactUsScripts.html.twig' %}
  {% include 'EventBundle:Commons:getEventsScript.html.twig' %}
  {% include 'FrontendBundle:Commons:scriptGoogleMap.html.twig' %}

  <script type="text/javascript">
    initializeMap();
  </script>
{% endblock %}