<script type="text/javascript">
    $(document).ready(function(){
      $('#events-calendar').fullCalendar({
        header:
              {
                left:  'prev',
                center: 'title',
                right:  'next'
              },
        monthNames :
              ['{{ "Enero"|trans }}',
               '{{ "Febrero"|trans }}',
               '{{ "Marzo"|trans }}',
               '{{ "Abril"|trans }}',
               '{{ "Mayo"|trans }}',
               '{{ "Junio"|trans }}',
               '{{ "Julio"|trans }}',
               '{{ "Agosto"|trans }}',
               '{{ "Septiembre"|trans }}',
               '{{ "Octubre"|trans }}',
               '{{ "Noviembre"|trans }}',
               '{{ "Diciembre"|trans }}'],
        dayNames :
              ['{{"Domingo"|trans}}',
               '{{"Lunes"|trans}}',
               '{{"Martes"|trans}}',
               '{{"Miércoles"|trans}}',
               '{{"Jueves"|trans}}',
               '{{"Viernes"|trans}}',
               '{{"Sábado"|trans}}'],
        dayNamesShort:
              ['{{"Dom"|trans}}',
               '{{"Lun"|trans}}',
               '{{"Mar"|trans}}',
               '{{"Mie"|trans}}',
               '{{"Jue"|trans}}',
               '{{"Vie"|trans}}',
               '{{"Sab"|trans}}'],
      });

      var date = new Date();
      var month = date.getMonth() + 1;
      var year = date.getFullYear(),
      event_info = $('#event-info');

      $(window).resize(function() {
        //calculateMargin();
      });

      function getEvents(month, year) {
        $.post('{{ path("get_events") }}', {'month': month, 'year' : year }, function(response){
          if (response.ok) {
              var events = response.events;

              for (var i = 0; i < events.length; i++) {
                addEventMouseOver(events[i]);
                addEventMouseOut(events[i]);
                addEventClick(events[i]);
                addIcon(events[i].date);
              }
          }
        });
      }

      function addEventMouseOver(event) {
        $('td[data-date="'+ event.date +'"]').mouseover(function (e) {
          $(this).addClass('txt-shadow');
          $(this).css({'background-size' : 'cover', 'background-image' : "url(" + event.img + ")", 'color' : '#FFFFFF', 'cursor' : 'pointer'});
        });
      }

      function addEventMouseOut(event) {
        $('td[data-date="'+ event.date +'"]').mouseout(function (e) {
          $(this).removeClass('txt-shadow');
          $(this).css({'background-size' : 'cover', 'background-image' : "", 'color' : ''});
        });
      }

      function addEventClick(event) {
        var id = event.id;
        $('td[data-date="'+ event.date +'"]').click(function (e) {
          $.post('{{ path("get_event_detail") }}', {'id': id }, function(response){

            if (response.ok) {
                var event = response.event,
                event_title = $('#event-title'),
                event_description = $('#event-description'),
                event_img = $('#event-img'),
                readMore,
                titleLink;

                readMore = "<a title=\"{{'Leer más' | trans}}\" href=\"" + event.eventPath + "\">Leer más</a>";
                titleLink = "<a title=\"{{'Ver evento' | trans}}\" href=\"" + event.eventPath + "\">" + event.title + "</a>"

                event_title.html(titleLink);
                event_description.html(wrapText(event.description, 240) + readMore);
                event_img.attr('src', event.img);

                event_info.collapse('toggle');
            }
          });
        });
      }

      function addIcon(date) {
        $('td[data-date="'+ date +'"]').children('div').prepend('<i class="fa fa-bookmark event-day"></i>');
      }

      $('.fc-button-next').click(function() {
        var d = $('#events-calendar').fullCalendar('getDate');
        getEvents(d.getMonth() + 1, d.getFullYear());

        closeCollapse();
      });

      $('.fc-button-prev').click(function() {
        var d = $('#events-calendar').fullCalendar('getDate');
        getEvents(d.getMonth() + 1, d.getFullYear());

        closeCollapse();
      });

      function closeCollapse() {
        if (event_info.hasClass('in'))
          event_info.collapse('hide');
      }

      getEvents(month, year);

      /** Wrap event text **/
      function wrapText(str, maxCharacters) {
        var result, slice_index;

        result = str.slice(maxCharacters - 1);

        slice_index = result.indexOf(' ');

        result = str.slice(0, (maxCharacters - 1) + slice_index) + '...';

        return result;
      }
    });
  </script>